<div class="content-layout fullwidth-standard-inner-scroll">
  <!-- Main -->
  <div class="main">
    <!-- Header -->
    <div class="header">
      <!-- Title -->
      <div class="title">
        <h1>Partners</h1>
      </div>

      <!-- Main actions -->
      <div class="main-actions">
        <!-- Search -->
        <div class="search">
          <mat-form-field class="treo-mat-dense treo-mat-no-subscript">
            <mat-icon matPrefix [svgIcon]="'search'"></mat-icon>
            <input
              matInput
              [autocomplete]="'off'"
              [placeholder]="'Search Partners'"
              [(ngModel)]="searchValue"
              (keyup)="applyFilter($event)"
              (blur)="onRemovingFocus($event)"
            />
          </mat-form-field>
        </div>
      </div>

      <div class="loader" *ngIf="isLoading">
        <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
      </div>
    </div>

    <!-- Products list -->
    <div class="table-list">
      <ng-container *ngIf="dataList.length > 0; else noPartners">
        <div class="table-wrapper">
          <!-- Table -->
          <table
            [ngClass]="{ loading: isLoading }"
            mat-table
            matSort
            [matSortActive]="'uuid'"
            [matSortDisableClear]="true"
            [matSortDirection]="'desc'"
            [multiTemplateDataRows]="true"
            [dataSource]="dataSource"
          >
            <!-- SKU -->
            <ng-container matColumnDef="uuid">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                disableClear
              >
                UUID
              </th>
              <td mat-cell *matCellDef="let row">
                {{ row.uuid }}
              </td>
            </ng-container>

            <!-- Name -->
            <ng-container matColumnDef="full_name">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                disableClear
              >
                Name
              </th>
              <td mat-cell *matCellDef="let row">
                {{ row.full_name }}
              </td>
            </ng-container>

            <!-- Price -->
            <ng-container matColumnDef="city">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                disableClear
              >
                City
              </th>
              <td mat-cell *matCellDef="let row">
                {{ row.city }}
              </td>
            </ng-container>

            <!-- Stock -->
            <ng-container matColumnDef="distance">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                disableClear
              >
                Distance
              </th>
              <td mat-cell *matCellDef="let row">
                {{ row.distance }}
              </td>
            </ng-container>

            <!-- Active -->
            <!-- <ng-container matColumnDef="status">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  mat-sort-header
                  disableClear
                >
                  Active
                </th>
                <td mat-cell *matCellDef="let row">
                  {{ row.status }}
                </td>
              </ng-container> -->
            <!-- Status -->
            <ng-container matColumnDef="status">
              <th
                class="bg-cool-gray-50 dark:bg-cool-gray-700 border-t"
                mat-header-cell
                mat-sort-header
                *matHeaderCellDef
                disableClear
              >
                Status
              </th>
              <td mat-cell *matCellDef="let row">
                <span
                  class="inline-flex items-center font-bold text-xs px-2 py-2px rounded-full tracking-wide uppercase green-200"
                >
                  <span class="w-2 h-2 rounded-full mr-2 bg-green"></span>
                  <span class="pr-2px leading-relaxed whitespace-no-wrap">{{
                    row.status
                  }}</span>
                </span>
              </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                disableClear
              >
                Actions
              </th>
              <td mat-cell *matCellDef="let row">
                <button
                  mat-button
                  class="action_btn"
                  (click)="viewDetails(row)"
                >
                  <span class="material-icons"> remove_red_eye </span>
                </button>
              </td>
            </ng-container>

            <tr
              mat-header-row
              *matHeaderRowDef="displayedColumns; sticky: true"
            ></tr>
            <tr
              class="product-row"
              mat-row
              *matRowDef="let row; columns: displayedColumns"
              (click)="viewDetails(row)"
            ></tr>
          </table>
        </div>

        <!-- <mat-paginator
            [ngClass]="{ loading: isLoading }"
            [length]="this.pagination.length"
            [pageIndex]="pagination.page"
            [pageSize]="pagination.size"
            [pageSizeOptions]="[5, 10, 25, 100]"
            [showFirstLastButtons]="true"
          ></mat-paginator> -->

        <mat-paginator
          #paginator
          [length]="page_details.total"
          [pageSize]="page_details.pageSize"
          [pageSizeOptions]="[5, 10, 25]"
          (page)="pageChanged($event)"
        ></mat-paginator>
      </ng-container>

      <ng-template #noPartners>
        <div class="no-products">Loading partners data...</div>
      </ng-template>
    </div>
  </div>
</div>
